body {
	margin: 0;
}

.noscroll {
	overflow: hidden;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}


/*-------------------------------------------*/
/*--------------- Add New Dish --------------*/
/*-------------------------------------------*/

.add-new-dish-btn {
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 1;
}

@media (max-width: 400px) {
	.add-new-dish-btn {
		right: 20px;
		bottom: 20px;
	}	
}

/*-------------------------------------------*/
/*-------------- Welcome Screen -------------*/
/*-------------------------------------------*/

.welcome-container {
	padding: 30px;
}

.welcome-header {
	font-size: 18px;
	font-weight: bold; 
}

.welcome-text {
	padding: 5px 0 40px 0;
}

.welcome-text p {
	text-align: justify;
}

.login-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
	height: 40px;
	background-color: #566270;
	color: #fff;
}

/*-------------------------------------------*/
/*-------------- Profile Menu ---------------*/
/*-------------------------------------------*/

.profile-menu-closed {
	position: fixed;
	top: 0px;
	left: -600px;
	transition: 0.2s ease;
}

.profile-menu-open {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 400px;
	height: 100vh;
	background-color: #fff;
	transition: 0.4s ease-in-out;
}

.user-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
	background-color: #fcfcfc;
	color: #566270;
}

.user-actions-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px;
}

/*-------------------------------------------*/
/*-------------- Filter Modals --------------*/
/*-------------------------------------------*/

.filter-modal-closed {
	overflow: hidden;
	position: fixed;
	top: -1000px;
	left: 0;
	width: 100%;
	height: 0;
	transition: 0.35s ease-in-out;
}

.filter-modal-open {
	overflow: scroll;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 3;
	background-color: #fff;
	transition: 0.35s ease-in-out;
}

.filter-item {
	display: flex;
	align-items: center;
	box-shadow: 0 0 4px #ebebeb;
}

.filter-item input {
	margin: 0;
	display: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.filter-item label {
	width: 100%;
	text-align: center;
	padding: 20px;
}

.modal-header {
	padding: 15px;
	box-shadow: 0 0 1px rgba(0,0,0,0.5);
	background-color: #fcfcfc;
	color: #566270;
}

.filter-title {
	margin: -10px 0 10px 0;
	font-size: 18px;
}

.filter-title p {
	margin: 0
}

.close-btn {
	display: block;
	width: 100%;
	margin: 0;
	text-align: right;
	font-size: 21px;
}

.clear-filter {
	display: block;
	width: 100%;
	text-align: left;
	padding: 20px;
}

/*-------------------------------------------*/
/*--------------- Dish List -----------------*/
/*-------------------------------------------*/

.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.dishes-container {
	display: flex;
	justify-content: start;
	flex-direction: column;
	padding-top: 100px;
}

.dish-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px;
	box-shadow: 0 1px 2px #ebebeb;
}

.dish-position {
	margin: 0 auto;
	font-size: 32px;
	width: 20%;
	text-align: center;
}

.dish-short-info {
	width: 50%;
	padding-left: 25px;
}

.dish-short-info-restaurant {
	font-size: 12px;
	color: #828282;
}

/*-------------------------------------------*/
/*----------- Rating and Stars --------------*/
/*-------------------------------------------*/

.dish-rating {
	margin: 0 auto;
	width: 30%;
	text-align: center;
}

.stars-container {
	/*display: flex;*/
}

.star {
	width: 20px;
}

.star-fill {
	fill: #ffda8e;
}

.star-nofill {
	fill: #d8d8d8;
}

/*-------------------------------------------*/
/*----------------- Navbar ------------------*/
/*-------------------------------------------*/

.nav-container {
	width: 100%;
	position: fixed;
	background-color: #fcfcfc;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid #f1f1f1;
	padding: 12px 0;
	box-shadow: 0 1px 7px rgba(0,0,0,0.5);
}

.filter-city,
.filter-cuisine,
.filter-restaurant {
	text-align: center;
}

.nav-picture img {
	border-radius: 50%;
	max-width: 40px;
	cursor: pointer;
}

.filter-city img,
.filter-cuisine img,
.filter-restaurant img {
	border-radius: 3px;
	max-width: 30px;
}

.filter-name,
.filter-selected {
	margin: 0;
	font-size: 11px;
	width: 105px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.filter-selected {
	margin-top: 5px;
}

.menu-btn {
	width: 20px;
}
